main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-direction: column;
  padding: 30px 0 30px 0;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.board-block {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #d3d6da;
  width: 60px;
  height: 60px;
}
